<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="clearfix">
            <input type="file" style="display: none;" #file (change)="upload($event)">
            <button type="button" (click)="file.click()" class="btn btn-primary float-right">
              <i class="fa fa-upload"></i> Upload
            </button>
            <div class="text-value">Upload Commission Report</div>
          </div>
          <div class="pt-2">
            <div class="progress form-group" *ngIf="progress > 0">
              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <!-- <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Sale</h4>
          <div class="small text-muted">April 2020</div>
        </div> <div class="col-sm-7 d-none d-md-block">
          <button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i></button>
          <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Day" id="option1">Day</label>
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Month"
              id="option2">Month</label>
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Year" id="option3">Year</label>
          </div>
        </div> 
      </div>
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart" [datasets]="mainChartData" [labels]="mainChartLabels"
          [options]="mainChartOptions" [colors]="mainChartColours" [legend]="mainChartLegend"
          [chartType]="mainChartType"></canvas>
      </div>
    </div>
    <div class="card-footer">
      <div class="row text-center">
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Visits</div>
          <strong>29.703 Users (40%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Unique</div>
          <strong>24.093 Users (20%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Pageviews</div>
          <strong>78.706 Views (60%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">New Users</div>
          <strong>22.123 Users (80%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Bounce Rate</div>
          <strong>40.15%</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!--/.card-->
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Sales by top 3 Partners
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart class="chart"
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Sales by top 10 Territories
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart class="chart"
            [datasets]="horizontalBarChartData"
            [labels]="horizontalBarChartLabels"
            [options]="horizontalBarChartOptions"
            [legend]="horizontalBarChartLegend"
            [chartType]="horizontalBarChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row"> 
    <div class="col-md-6">
      <div class="card" style="height:94%;">
        <div class="card-header">
          Sales by Users
        </div>
        <div class="card-body" >
          <div class="chart-wrapper">
            <canvas baseChart class="chart"
            [datasets]="barChart5Data"
            [labels]="barChart5Labels"
            [options]="barChart5Options"
            [legend]="barChart5Legend"
            [chartType]="barChart5Type"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Sales Status - Weekly
        </div>
        <div class="card-body" >
          <h6 class="m-0">Sum Ext Cost</h6>
          <h4>572,900</h4>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small>Better than last week (60%)</small>
          <br><br>
          <h6 class="m-0">Sum of Invoices</h6>
          <h4>6,378</h4>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small>Better than last week (30%)</small>
          <br><br>
          <h6 class="m-0">Customer Counts</h6>
          <h4>200</h4>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 86%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small>Better than last week (86%)</small>
        </div>
      </div>
    </div>
  </div>
</div>